a{
	font-family: Arial;
	font-size: 10pt;
	text-decoration: none;
	padding: 10px;
}

a:hover{color: black; text-decoration: underline;}
a:visited{color: black;}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
}

.button{
	font-family: arial, sans-serif;
}

#signin{
	background-color: blue;
	color: white;
	font-weight: bold;
	border-radius: 2px;
}

#menuBar{
	height: 33;
	text-align: right;
}

#logo{
	vertical-align: center;
	text-align: center;
}